body {
    @include standard-tipography;
    color: $color-text;
}

.heading--primary {
    color: $color-primary;
    text-transform: capitalize;
    margin-bottom: $spacing-more;
}

h2{
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 1.5px;
}

h3{
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 1px;
    margin-bottom: $spacing-standard;
}