body {
    @include standard-tipography;
    color: $color-text;
}

.heading-primary {
    color: $color-primary;
    font-size: 3rem;
    line-height: 4rem;
    text-transform: capitalize;
    margin-bottom: $spacing-more;
    letter-spacing: 1.5px;
}