.hidden {
    display: none;
}

.transparent {
    opacity: 0;
}
.color-primary {
    color: $color-primary;
}

.hide-on-tablet {
    @include responsive(tablet) {
        display: none;
    }
}

.hide-on-mobile {
    @include responsive(phone) {
        display: none;
    }
}

.show-on-mobile {
    display: none;
    @include responsive(phone) {
        display: initial;
    }
}