.main--advanced-search {
    background-color: $bg-transparent;
    max-width: $width-inner-content;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100vh - #{$height-section-medium} ) ;

    .apartments-list {

        flex: 0 0 50%;
        height: calc(100vh - 2 * #{$height-section-medium});
        padding: $spacing-standard;
        overflow-x: auto;  
        overflow-y: scroll;

        @include responsive(tablet) {
            flex: 0 0 100%;
            padding-bottom: $height-section-big + $spacing-more;
        }

    }
    .chalet-map {

        flex: 0 0 50%;
        padding: 10px;  // Temporaneo: evita overflow della mappa
        height: calc(100vh - 2 * #{$height-section-medium});

        @include responsive(tablet) {
            flex: 0 0 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: $height-section-big;
            background-color: $white;   //temp
            max-width: 100%;
        }
    }

}