.home-section {
    max-width: $width-inner-content;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    padding: $spacing-standard;

    padding-top: $spacing-more;
    padding-bottom: $spacing-more;
}