.home-section {
    max-width: $width-inner-content;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    padding: $spacing-standard;

    padding-top: $spacing-more;
    padding-bottom: $spacing-more;
}

.become-host {
    height: $height-section-huge;

    &__background {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-image: url('/img/host-become.jpg');
        background-size: cover;
        background-position: center;
        border-radius: $border-radius-standard;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            bottom: 0;
            background-color:$white;
            z-index: 2;
            opacity: 0;
            transition: opacity $animation-time-standard;
        }

        &:hover {
            
            &::before {
                opacity: .75;
            }

            .become-host__text-box {
                background-color: $color-primary-light;
            }

            .become-host__cta {
                color: $white;
            }
        }
    }

    &__text-box {
        position: relative;
        z-index: 3;
        background-color: rgba($white , .75);
        transition: all $animation-time-standard;
        border-radius: $border-radius-more;
    }
    
    &__cta {
        &:link , 
        &:hover , 
        &:active ,
        &:visited {
            padding: $spacing-standard $spacing-huge;
            text-decoration: none;
            color: $color-primary-light;
            font-size: 3rem;
            letter-spacing: 3px;
            display: block;
            height: 100%;
            width: 100%;
            font-weight: bold;
            transition: all $animation-time-standard;
        }
    }
}

