.container {
    max-width: $width-inner-content;
    margin: 0 auto;
    i {
        padding-right: $spacing-tiny;
    }
    .apartment-title {
        padding: $spacing-standard 0;
    }
    .font-weight--bold {
        font-weight: bold;
    }
    .form-container {
        display: flex;
        padding: $spacing-more 0;
        @include responsive(phone) {
            display: block;
        }
        .left-container {
            width: 60%;
            @include responsive(tablet) {
                width: 40%;
            }
            @include responsive(phone) {
                width: 100%;
            }
            .type-host {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: $spacing-standard;
                .host-img {
                    width: $spacing-huge;
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .apartment-service {
                padding: $spacing-small 0;
                .service-card {
                    padding: $spacing-small 0;
                    display: flex;
                }
            }
            .apartment-description {
                padding: $spacing-standard 0;
            }
            .additional-services {
                padding: $spacing-standard 0;
                h3 {
                    padding: $spacing-small 0;
                }
                .row {
                    display: flex;
                    padding: $spacing-small 0;
                    .ad-service-card {
                        width: 50%;
                        display: flex;
                    }
                }
            }
        }
        .right-container {
            width: 50%;
            @include responsive(tablet) {
                width: 60%;
            }
            @include responsive(phone) {
                width: 100%;
            }
            .contact-form {
                position: sticky;
                top: calc(#{$height-section-medium} + 2rem);
                form {
                    @include responsive(tablet) {
                        width: 80%;
                    }
                    @include responsive(phone) {
                        width: 100%;
                    }
                    @include shadow-enhanced;
                    background: $color-secondary;
                    width: 50%;
                    margin: 0 auto;
                    padding: $spacing-small;
                    border-radius: $border-radius-standard;
                }
                p,
                input {
                    margin-bottom: $spacing-tiny;
                }
                .btn {
                    margin: $spacing-small 0;
                }
                input,
                textarea,
                .btn {
                    display: block;
                    width: 100%;
                }
                textarea {
                    resize: none;
                }
            }
        }
    }
    .map-title {
        padding: $spacing-standard 0;
        h3 {
            padding-bottom: $spacing-small;
        }
    }
    .chalet-map {
        flex: 0 0 50%;
        height: calc(100vh - 2 * #{$height-section-medium});
        @include responsive(tablet) {
            position: static;
            height: $height-section-huge;
            width: 100%;
        }
        @include responsive(phone) {
            height: $height-section-huge;
            width: 100%;
        }
    }
    .hosted-by {
        display: flex;
        align-items: center;
        padding: $spacing-standard 0;
        @include responsive(phone) {
            display: block;
        }
        .type-host {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include responsive(phone) {
                width: 100%;
                margin-bottom: $spacing-standard;
            }
            .host-img {
                width: $spacing-huge;
                img {
                    padding-right: $spacing-tiny;
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
        .redirect-btn {
            width: 50%;
            text-align: center;
            @include responsive(phone) {
                width: 100%;
            }
        }
    }
    .sponsored-gallery {
        padding: $spacing-huge 0;
    }
}