// Sizes

$width-inner-content: 160rem;
$height-section-medium: 7rem;

// Spacing

$spacing-small      : 1rem;
$spacing-standard   : 2rem;
$spacing-more       : 3rem;
$spacing-huge       : 5rem;

// Colors

$color-primary: rgb(16, 83, 16);
$color-primary-light: lighten($color-primary , 20%);
$color-primary-dark: darken($color-primary , 20%);
$white: white;

@mixin clearfix {
    &::after{
        content: '';
        clear: both;
        display: table;
    }
}

// Media Queries

@mixin responsive($breakpoint) {

    @if $breakpoint == phone {
        @media (max-width: 35.5em) {    // 600px
            @content
        };
    }

    @if $breakpoint == tablet {
        @media (max-width: 56.25em) {    // 900px
            @content
        };
    }

    @if $breakpoint == desktop {
        @media (max-width: 75em) {    // 1200px
            @content
        };
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {    // 1800px
            @content
        };
    }

}