.form {

    padding: $spacing-standard;
    display: flex;
    justify-content: space-between;
        
    &--nowrap {
        height: $height-section-medium;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        
        .form__field {
            height: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &:not(:last-child) {
                margin-right: $spacing-tiny;
            }
        }
        
        .form__label {
            margin-right: $spacing-standard;
        }
    }
    
    &--vertical {
        
    }
    
    &__field {
        padding: $spacing-standard;
    }

    &__label {
        
    }

    &__input {
        border: 1px solid $color-primary;
        padding: $spacing-tiny $spacing-standard;
        border-radius: $border-radius-standard;
        @include standard-tipography;
        transition: all $animation-time-standard;
        &:focus,
        &:active {
            outline: none;
            background-color: $color-primary-light;
            color: $white;
        }
    }

}