@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;

0,700;0,900;1,400&display=swap);html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: rgba(16, 83, 16, 0.1);
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 1.25;
  color: #707070;
}

.hidden {
  display: none;
}

.btn {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 1.25;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s;
}

.btn--primary {
  background-color: #105310;
  color: white;
  border: 1px solid #105310;
}

.btn--primary:hover {
  background-color: white;
  color: #105310;
}

.btn--primary-inverse {
  background-color: white;
  color: #105310;
  border: 1px solid #105310;
}

.btn--primary-inverse:hover {
  background-color: #105310;
  color: white;
}

.btn--secondary {
  background-color: #f39a34;
  color: white;
  border: 1px solid #f39a34;
}

.btn--secondary:hover {
  background-color: white;
  color: #f39a34;
}

.form {
  padding: 2rem;
  height: 7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 7rem;
  background-color: rgba(255, 255, 255, 0.75);
  color: #105310;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  letter-spacing: 1px;
}

@media (max-width: 56.25em) {
  .header {
    position: static;
  }
}

.header + * {
  margin-top: 7rem;
}

@media (max-width: 56.25em) {
  .header + * {
    margin-top: 0;
  }
}

.header__inner {
  max-width: 160rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  height: 100%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.header__logo-container {
  flex-grow: 1;
  height: 100%;
}

.header__logo {
  display: block;
  max-height: 100%;
}

.header__toggle-button {
  font-size: 1.8em;
  line-height: calc(7rem - 2 * 2rem );
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 10;
}

@media (max-width: 56.25em) {
  .header__toggle-button {
    display: block;
  }
}

.header__close-menu {
  color: white;
}

.header__menu {
  list-style-type: none;
  display: block;
}

.header__menu-item {
  display: inline-block;
  height: calc(7rem - 2 * 2rem );
  line-height: calc(7rem - 2 * 2rem );
}

.header__menu-item--home {
  display: none;
}

@media (max-width: 56.25em) {
  .header__menu-item--home {
    display: block;
  }
}

.header__menu-item:not(:last-child) {
  margin-right: 3rem;
}

@media (max-width: 56.25em) {
  .header__menu {
    display: none;
  }
}

.header__menu--mobile {
  position: fixed;
  height: 100vh;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-image: linear-gradient(to bottom left, #053005, rgba(52, 133, 52, 0.95));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__menu--mobile .header__menu-item {
  font-size: 3rem;
}

.header__menu--mobile .header__menu-item:not(:last-child) {
  margin-bottom: 3rem;
}

