// SCROLLBAR--------------------
@media (min-width: 768px) {
    
    /* width */
    ::-webkit-scrollbar {
        width: .8rem;
        height: 80%;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px; 
        background: #d8ae7f98;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #d8af7f;
        border-radius: 5px; 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #5a5034; 
      }
}

//   MAIN-------------------
.admin {
    background-color: #ffefd5;
    // background-color: #d8af7f;
    height: calc(100vh - 70px);
    color:#5a5034;

    
    
    .row {
        padding-top:15px;
        padding-bottom:15px;
    }
    .card {
        background-color: #d8af7f;
        // background-color: #ffefd5;
        color: #5a5034
    }
    
    .svg {
        color: inherit;
    }
    table{
      margin-top: 10px;
      background-color: #d8ae7fad;
      border-radius: .25rem;
      width: 100%;
      border-radius: 5px;
      overflow-x: auto;
      /* overflow-y: auto; */

      thead{
        background-color: #d8af7f;
        // background-color: rgba(0,0,0,.03);
        font-size: 1.7rem;
      }
      th,td{
          padding:10px 20px;
      }
      @media (max-width: 768px){
          table{
              display: block;
          }
      }
    }
}
